# **WORKING WITH DML & DQL**

**Data Manipulation Language (DML)**

1. _Inserting values into tables (INSERT INTO... VALUES...)_
2. _Updating records in the table (UPDATE... SET...WHERE...)_
3. _Deleting records in the table (DELETE FROM...WHERE...)_

**INSERTING RECORDS IN A TABLE**

In [ ]:
-- Inserting Values into the Customers Table
-- METHOD 1(Using the DEFAULT PARAMETERS) -- SQL Inserts values into all the columns

use Argos_Adventurers

insert into Customers
VALUES
    (1, 'Sun Chan', 'Lagos', 15, '08011111111'),
    (2, 'Leo', 'Abuja', 28, '09076488226'),
    (3, 'Edsam', 'Benin', 22, '08015624262'),
    (4, 'Jonas', 'Lagos', 18, '09099911233')

In [ ]:
-- Inserting More Values into the Customers Table
-- METHOD 2(Specify the PARAMETERS)

use Argos_Adventurers

insert into Customers(CustomerID, Name, Address, PhoneNumber)
VALUES
    (6, 'Nabaka', 'Benin', '08015689111')


-- WATCH THE VIDEO ON THIS
-- We could go ahead and remove insertion into the age column in method 2 of parameter selection ONLY BECAUSE
-- The AGE column accepts NULL VALUES

In [4]:
-- Inserting Values into the Products Table
-- METHOD 1(Using the DEFAULT PARAMETERS) -- SQL Inserts values into all the columns

use Argos_Adventurers

insert into Products
VALUES
    (1, 'iPhone15', 345.21, 15),
    (2, 'Samsung J5', 25.67, 28),
    (3, 'Tecno P3', 678.23, 22),
    (4, 'Samsung Tab', 18.00, 18)

In [ ]:
-- Inserting Values into the Orders Table
-- METHOD 1(Using the DEFAULT PARAMETERS) -- SQL Inserts values into all the columns

use Argos_Adventurers

insert into Orders
VALUES
    (1, 2, 4, 1, 18.00),
    (2, 5, 1, 1, 345.21),
    (3, 2, 1, 1, 345.21),
    (4, 3, 2, 1, 25.67)

In [ ]:
-- WHEN WORKING WITH INSERTION OF VALUES, PLEASE REMEMBER TO PUT A COMMA (,) AFTER EACH VALUE.

**UPDATING RECORDS IN A TABLE**

In [ ]:
-- Updating a RECORD in the Customers Table

use Argos_Adventurers

Update Customers
Set Name = 'Moses'
Where CustomerID = 5

In [ ]:
-- Updating another RECORD in the Customers Table

use Argos_Adventurers

Update Customers
Set Age = 35
Where Address = 'benin'

In [ ]:
-- Updating another RECORD in the Customers Table

Update Customers
Set PhoneNumber = 0
Where Address = 'Abroad' or Address = 'Benin'

**DELETING RECORDS IN A TABLE**

In [ ]:
-- Before deleting any records lets first see the records in each table and evaluate

In [ ]:
use Argos_Adventurers
Select * from Customers

In [ ]:
use Argos_Adventurers
Select * from Products

In [ ]:
use Argos_Adventurers
Select * from Orders

In [ ]:
-- Deleting records from the Customers Table

Use Argos_Adventurers

Delete from customers
where Name = 'Leo' or Age > 25

Select * from Customers

In [ ]:
-- Deleting records from the Customers Table

Use Argos_Adventurers

Delete from customers
where Address = 'Lagos'

Select * from Customers

In [ ]:
/*
LOGIC GATE


OR COMMAND (+)
True + True = TRUE              1 + 1 = 1
True + False = True             1 + 0 = 1
False + True = TRUE             0 + 1 = 1
False + False = False           0 + 0 = 0


AND COMMAND(*)
True * True = TRUE              1 * 1 = 1
True * False = False            1 * 0 = 0
False * True = False            0 * 1 = 0
False * False = False           0 * 0 = 0
*/

In [ ]:
-- COMPARISON OPERATORS
1) Equal to (=)
2) Greater than (>)
3) Less than (<)
                    --> ASSIGNMENT
4) Not Equal to
5) Greater than or Equal to
6) Less than or Equal to



-- LOGICAL OPERATORS
1) OR
2) AND
3) NOT



-- AGGREGATE FUNCTIONS
1) SUM()
2) COUNT()
3) AVG()
4) DISTINCT COUNT()
5) STD()
6) VAR()



/*
DQL
1) SELECT
2) FROM
3) WHERE
4) Logical Operators Work
5) Comparison Operators Work
6) Aggregate Functions
7) Alias 
8) Understanding the NATURE BEHIND NAMING in SQL
*/